.red {
  color:red;
}

.gray {
  color:gray;
}

.wy-menu-vertical p.caption {
  font-size: 90% !important;
  padding: 0.4em 1.1em !important;
}

.wy-nav-side {
  color: #2980B9 !important;
}

span.ack a,
span.ack a:visited,
span.ack a:hover,
span.ack a:active {
    color: #d9d9d9;
    text-decoration: underline !important;
    border-bottom: 0 !important;
}
